html(lang="pt-br")
  head
    title Hello-world

    meta(charset="utf-8")
    meta(name="viewport", content="width=device-width, initial-scale=1, shrink-to-fit=no")

    link(rel="stylesheet",href="../bower_components/bootstrap/dist/css/bootstrap.min.css")
    link(rel="stylesheet",href="css/main.min.css")

  body
    .container
      .row
        .col-xs-12
          h1 Teste de bootstrap
